<template>
  <div id="app_login">
    <h2>Enter Email and Password</h2>
    <label>Email:</label>
    <input type="text" v-model="email" placeholder="email"><br>
    <label>Password:</label>
    <input type="password" v-model="pass" placeholder="password">

    <h2>Show Email and Password</h2>
    <p>Email: {{ email }}</p>
    <p>Password: {{ pass }}</p>
  </div>
</template>

<script>
export default {
  name:'Login',
  data: function () {
    return {
      email: '',
      pass: '',
    }
  }
}
</script>

<style>
#app_login*{
  box-sizing: border-box;
}

#app_login{
  margin: 20px auto;
  max-width: 500px;
}

label{
  display: block;
  margin: 20px 0 10px;
}
input[type="text"].input{
  display: block;
  width: 100%;
  padding: 8px;
}
</style>